body{
  font-family: 'Roboto', sans-serif;
  // color: white;
// font-family: 'Oswald', sans-serif;
}
div.tile.is-ancestor.top{
  margin:10px;
}

div.tile.is-parent.profile{
  height: 25vh;
  background:
              -webkit-linear-gradient(rgba(59, 0, 64, 1), rgba(255, 0, 136, 1) 80%),
              -webkit-linear-gradient(rgba(59, 0, 64, 1) 25%, rgba(255, 0, 136, 1) 80%);
border-radius: 15px;
}

div.tile.is-parent.image{
  height: 25vh;
  background:
              -webkit-linear-gradient(rgba(59, 0, 64, 1), rgba(255, 0, 136, 1) 80%),
              -webkit-linear-gradient(rgba(59, 0, 64, 1) 25%, rgba(255, 0, 136, 1) 80%);
  margin-left: 10px;
  color: white;
  border-radius: 15px;
  padding: 10px;
}

div.tile.is-ancestor.bottom{
  height: 200px;
  background:rgb(31, 112, 216);
              // -webkit-linear-gradient(rgba(59, 0, 64, 1), rgba(31, 112, 216, 1) 80%),
              // -webkit-linear-gradient(rgba(59, 0, 64, 1) 25%, rgba(31, 112, 216, 1) 80%);
  margin-left: 5px;
  margin-top: 5px;
  color: white;
  border-radius: 15px;
  padding: 10px;

}

div.show-img{
  border-radius: 100px;

}

div.tile.is-ancestor.bottom{
  height: 75vh;
  color: white;
  margin: 15px;
  // margin-bottom: 5px;

}


.show-img {
  margin: 0 auto;
  height: 150px;
  width: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
