<section class="hero">
  <div class="hero-body">
    <div class="container map-container">
      <div class="control search">
        <!-- <i class="fa fa-search search-icon" aria-hidden="true"></i> -->
        <input class ="search-bar" ng-model="chosenPlace" placeholder="Where are you?" google-autocomplete/>
        <i ng-show="vm.loadingGif" class="fa fa-spinner fa-pulse fa-3x fa-fw loading-icon"></i>
      </div>

    </div>
  </div>
</section>

<google-map center="{ lat: 51.509865, lng: -0.118092 }"></google-map>
