<section class="hero">
  <div class="hero-body loading">
    <div class="container">
      <div class="control search">
        <input ng-model="chosenPlace" google-autocomplete/>
      </div>
    </div>
  </div>
</section>

<div class="hero-body loading">
  <div ng-hide="vm.data" class="container container-loading">
      Searching... please wait <img class= "loading-gif" src="/images/loading.gif" alt="loading">
  </div>
</div>

<google-map center="{ lat: 51.509865, lng: -0.118092 }"></google-map>
