<div class="container">
  <div class="notification event">
    <div class="tile is-12 eventdetail">
      <ul>
        <h1 class="title">EVENT DETAILS</h1>
        <h3><b>EVENT:</b> {{ vm.event.title }} </h3>
        <h3><b>VENUE:</b> {{ vm.event.venue_name }} </h3>
        <h3><b>ADDRESS:</b> {{ vm.event.address }}</h3>
        <h3><b>CITY:</b> {{ vm.event.city }}</h3>
        <h3><b>DATE AND START TIME:</b> {{ vm.event.start_time }}</h3>
        <!-- <h3><b>IMAGE:</b><div class ="home-img" style="background-image: url('{{ vm.event.image}}');"></div></h3> -->
        <!-- <h3><b>ID:</b> {{ vm.event.id }}</h3> -->
        <button class="button is-link creategroup-btn" ui-sref="groupsNew({ eventId: vm.event.id })">Create new group</button>
      </ul>
    </div>
  </div>

  <div class="notification eventmapper">
    <div class="tile is-12 street-img">
      <street-view center="{ lat: vm.event.latitude, lng: vm.event.longitude }"></street-view>
    </div>
  </div>

  <!-- {{ $scope.Group.eventId }}
  <div class="chat-groups" ng-if="vm.event.id === Group.eventId">
  <h1>hello</h1>
</div> -->
<!-- <div class="control">
</div> -->


<div class="notification groupscreated">
  <div class="tile is-12 allgroups">
    <ul class="groups-for-event">
      <li class="column notification is-info" ng-repeat="group in vm.groups">
        <p>{{ group.name }}</p>
        <p>{{ group.image }}</p>
        <p>{{ group.description }}</p>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link" ui-sref="groupsShow({ id: group._id })">Enter chat</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

</div>
