<div>
  <h3><b>EVENT:</b> {{ vm.event.title }} </h3>
  <h3><b>VENUE:</b> {{ vm.event.venue_name }} </h3>
  <h3><b>ADDRESS:</b> {{ vm.event.address }}</h3>
  <h3><b>CITY:</b> {{ vm.event.city }}</h3>
  <h3><b>DATE AND START TIME:</b> {{ vm.event.start_time }}</h3>
  <h3><b>DESCRIPTION:</b> {{ vm.event.description }}</h3>
  <h3><b>IMAGE:</b><div class ="home-img" style="background-image: url('{{ vm.event.image}}');"></div></h3>
  <h3><b>ID:</b> {{ vm.event.id }}</h3>
</div>

{{ $scope.Group.eventId }}

<div class="chat-groups" ng-if="vm.event.id === Group.eventId">
<h1>hello</h1>
</div>


<div class="control">
  <button class="button is-link" ui-sref="groupsNew({ eventId: vm.event.id })">Create new group</button>
</div>
