<!-- <div class="container">
<div class="notification event">
<div class="tile is-12 eventdetail">
<ul>
<h1 class="title">EVENT DETAILS</h1>
<h3><b>EVENT:</b> {{ vm.event.title }} </h3>
<h3><b>VENUE:</b> {{ vm.event.venue_name }} </h3>
<h3><b>ADDRESS:</b> {{ vm.event.address }}</h3>
<h3><b>CITY:</b> {{ vm.event.city }}</h3>
<h3><b>DATE AND START TIME:</b> {{ vm.event.start_time }}</h3>
<button class="button is-link creategroup-btn" ui-sref="groupsNew({ eventId: vm.event.id })">Create new group</button>
</ul>
</div>
</div>

<div class="notification eventmapper">
<div class="tile is-12 street-img">
<street-view center="{ lat: vm.event.latitude, lng: vm.event.longitude }"></street-view>
</div>
</div> -->

<div class="columns event-header">
  <div class="column eventdetail blue">
      <h1 class="title">EVENT DETAILS</h1>
      <h2 class="subtitle"><b>EVENT NAME:</b> {{ vm.event.title }} </h2>
      <h2 class ="subtitle"><b>VENUE:</b> {{ vm.event.venue_name }} </h2>
      <h3 class = "subtitle"><b>ADDRESS:</b> {{ vm.event.address }}</h3>
      <h3 class = "subtitle"> {{ vm.event.city }}</h3>
      <h3><b>DATE AND START TIME:</b> {{ vm.event.start_time | date:"MM/dd/yyyy 'at' h:mma" }}</h3>
      <div class="create-chat" ui-sref="groupsNew({ eventId: vm.event.id })">
        <h2>CREATE GROUP CHAT</h2>
      </div>
  </div>

  <div class="column is-two-thirds red">
    <div class="street-img">
      <street-view center="{ lat: vm.event.latitude, lng: vm.event.longitude }"></street-view>
    </div>
  </div>
</div>

<div class="notification">
  <div class="columns groupscreated" ng-repeat="groups in vm.groups | chunkBy: 3">
    <div class="column" ng-repeat="group in groups">
      <div class="chat-profile-img" style="background-image: url('{{ group.image }}');">
        <h2>{{ group.name }}</h2>
        <h3>{{ group.description }}</h3>
        <div class="join-chat" ui-sref="groupsShow({ id: group._id })">
          JOIN CHAT
        </div>
      </div>
    </div>
  </div>
</div>
