$color-black: #000000;
$color-white: #FFFFFF;
$color-darkblue: #3B44D1;
$color-purple: #CC00FF;
$color-pink: #F639F8;;
$color-magenta: #FF2F8D;
$color-rust: #DC5245;
$color-orange: #F8B435;
$color-lime: #E0FF3B;
$color-green: #46F443;
$color-mint: #4DF3A9;
$color-sky: #36EBF4;
$color-blue: #3C82F1;
