<div class="container is-fullhd form-container">
  <div class="notification form">
    <form ng-submit="vm.submitForm()">
      <div class="field">
        <label class="label form-label">Username</label>
        <div class="control">
          <input class="input" type="text" name="userName" ng-model="vm.user.userName" class="input" placeholder="Please choose a username">
        </div>
      </div>
      <div class="field">
        <label class="label form-label">Email</label>
        <div class="control">
          <input type="text" name="email" ng-model="vm.user.email" placeholder="Please enter your email address" class="input">
        </div>
      </div>
      <div class="field">
        <label class="label form-label">Profile Image</label>
        <div class="control">
          <input type="text" name="image" ng-model="vm.user.image" placeholder="Please add a link to your profile image" class="input">
        </div>
      </div>
      <div class="field">
        <label class="label form-label">Password</label>
        <div class="control">
          <input type="text" name="password" ng-model="vm.user.password" placeholder="Please enter a password" class="input">
        </div>
      </div>
      <div class="field">
        <label class="label form-label">Password Confirmation</label>
        <div class="control">
          <input type="text" name="passwordConfirmation" ng-model="vm.user.passwordConfirmation" placeholder="Please confirm your password" class="input">
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control button-container">
          <button class="button is-link button">Submit</button>
        </div>
      </div>
    </form>


  </div>
</div>
