<div class="container">
  <div class="notification">
    <ul class="groups">
      <li class="column notification is-info" ng-repeat="group in vm.groups">
        <p>{{ group.name }}</p>
        <p>{{ group.eventId }}</p>
        <p>{{ group.createdBy }}</p>
        <p>{{ group.event }}</p>
        <p>{{ group._id }}</p>
        <a ui-sref="groupsShow({ id: group._id })">JOIN CHAT</a>
        <section>
          <ul>
            <!-- <li ng-repeat="comment in group.comments">
              <p>Author: <a ui-sref="usersShow({id: comment.createdBy.id })">{{ comment.createdBy.userName }}</a></p>
              <p>{{ comment.body }}</p>
            </li> -->
          </ul>
        </section>
      </li>
    </ul>
  </div>
</div>
