<div class="notification form">
  <form ng-submit="vm.submitForm()">
    <div class="field">
      <label class="label form-label">Group Name</label>
      <div class="control">
        <input type="text" name="name" ng-model="vm.group.name" class="input" placeholder="Please choose a name for your group">
      </div>
    </div>
    <div class="field">
      <label class="label form-label">Image</label>
      <div class="control">
        <input type="text" name="image" ng-model="vm.group.image" placeholder="Please add a link for a group image" class="input">
      </div>
    </div>
    <div class="field">
      <label class="label form-label">Description</label>
      <div class="control">
        <input type="text" name="description" ng-model="vm.group.description" placeholder="Please provide a brief description" class="input">
      </div>
      <div class="field is-grouped">
        <div class="control button-container">
          <input type="submit" class="btn button">
        </div>
      </div>
    </div>
  </form>
</div>
