<!-- <div class="container is-fullhd"> -->

  <div class="notification">
    <div class="tile is-ancestor top">
      <div class="tile is-parent profile ">
        <ul>
          <p class="title"><h1>{{ vm.user.userName }}'s profile'</h1></p>
            <li>Username: {{vm.user.userName}}</li>
            <li>First name: {{vm.user.firstName}}</li>
            <li>Last name: {{vm.user.lastName}}</li>
            <li class="control">
              <button class="button is-focused is-medium" ui-sref="usersEdit({ id: vm.user.id })">Edit</button>
            </li>
          </ul>
      </div>

      <div class="tile is-parent image">
        <p class="title image"></p>
        <div class ="show-img" style="background-image: url('{{vm.user.image}}');">
        </div>
      </div>
    </div>

    <div class="tile is-ancestor bottom">
      <div class="tile is-12">
        <div class="tile is-parent is-info">
          <h1 class="title">Events</h1>
          <div class="tile is-children">
          </div>
      </div>
    </div>
  </div>
