<section class="home-page">
  <div class="white">
  <h1>{{ vm.users.length }} users, and counting... </h1>
  </div>
  </div>
  <div class="container-fluid">
    <div class="columns homepage-board ">
      <div ng-repeat="user in vm.users">
        <div class ="home-img box" style="background-image: url('{{ user.image}}');"></div>
      </div>
    </div>
  </div>
  <div class="animation">
    <div class="design">
      <span class="animation-span"> <!-- Square container -->
        <div class="color"></div> <!-- Bars -->
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
      </span>
    </div>
  </div>
</section>
