.footer{
text-align: center;
display: block;
background: #333333;
padding: -30px;
height: 18vh;
}

.ourpicture{
height:150px;
width: 150px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
border-radius: 100px;
}
