.form-container {
}

.form {
  margin: 0 auto;
  width: 600px;
  border-style:solid;
  border-color:$color-purple;
  margin-top: 50px;
  background-color: white;
}

.form-label {
  font-size: 13px;
}

.input {
  font-size: 13px;
  border-color: $color-purple;
}
