.nav-img {
  text-align: center;
  height: 60px;
  width: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100px;
  border-color: white;
  border-style:solid;
}
.nav-img:hover {
  border-color: black;
}


div.navbar-brand{
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

#navigationbar{
    background-color: black;
    font-family: 'Roboto', sans-serif;
    text-transform:uppercase;
    font-weight: bold;
    height: 100px;
    $size-1: 3rem
}

a.navbar-item{
  font-size: 18px;
  font-weight: 500px;
  color: white;
}

$dropdown-content-background-color: black;

a.navbar-item:hover{
  background-color: #D867FF;
  color: black;
}

.navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
  color: black;
  background: #D867FF;
}

a.navbar-link{
  font-size: 18px;
  font-weight: 500px;
  color: white;
}

.navbar-dropdown {
  background: black;

  a.navbar-item.drop, i {
    color: white;

    &:hover {
      background: #D867FF;
      color: white;
    }
  }
}

// .navbar-item.has-dropdown.is-hoverable.is-right:hover{
//   background-color: #D867FF;
//   color: black;
// }

// .drop:hover{
//   background-color: #D867FF;
//   color: black;
// }

// .navbar-link:hover{
//   background-color: #D867FF;
//   color: black;
// }

.icon{
  color: black;
}

.nav-logo {
  text-align: center;
  height: 100px;
  width: 130px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
  margin-top: 5px;
}
