.nav-img {
  text-align: center;
  height: 60px;
  width: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100px;
}

div.navbar-brand{
  background-color: black;
  font-family: 'Roboto', sans-serif;

}

#navigationbar{
    background-color: black;
    font-family: 'Roboto', sans-serif;
    height: 100px;
    $size-1: 3rem
}

a.navbar-item{
  font-size: 15px;
  font-weight: 500px;
}
a.navbar-link{
  font-size: 15px;
  font-weight: 500px;
}

.nav-logo {
  text-align: center;
  height: 100px;
  width: 130px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
  margin-top: 5px;
}
