.search {
  text-align: center;
}

.search-bar {
  width: 600px;
  line-height: 40px;
  padding-left: 10px;
  font-size: 15px;

}
.search-icon {
  padding-right: 10px;
}

.loading-icon {
  font-size: 25px;
}
.hero-body{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
//  .search-bar.ng-pristine.ng-untouched.ng-valid.ng-empty{
//
//    text-decoration: none;
//    border:none;
//  }
// div.control.search{
//   margin: 10px;
//
// }
