.google-map {
  height: 75vh  ;
  width: 100%;
  display: inline-block;
}

.map-container {
  position: relative;
}

.gmnoprint{
  display: none;
}

.gm-fullscreen-control{
  display: none;
}

.hero-body {
  margin-top: -35px;
}

#map, #pano {
  float: left;
  height: 400px;
  width: 400px;
  background: black;
}

.search {
  text-align: center;
  position: absolute;
  z-index: 2;
}

.search-bar {
  width: 600px;
  line-height: 40px;
  padding-left: 10px;
  font-size: 15px;
  margin-top: 50px;
  margin-left: 260px;


}
.search-icon {
  padding-right: 10px;
  color: $color-purple;
  font-size: 30px;
}

.loading-icon {
  font-size: 25px;
}
.hero-body{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
