// MATT'S SEARCH STYLES

.search {
  width: 600px;
}

.level-left{
background-color: red;
}
.level-right{
background-color: blue;
}

.profiledetails{
  font-size:15px;
}
h1.ng-binding{
    font-size:15px;
}
.ng-binding{
  font-size:15px;
  text-decoration: none;
}
