@import "partials/userpage";
@import "partials/landingpage";
@import "elements/buttons";
@import "elements/navbar";
@import "elements/footer";
@import "elements/loading";
@import "elements/searchbar";

.animation{
  @import "elements/design";
}


.google-map {
  height: 100vh;
  width: 100%;
  display: inline-block;
}

.read-more{
  margin: 1px;
}

// .homepage-board {
//   max-width: 200px;
// }
