.google-map {
  height: 100vh;
  width: 100%;
  display: inline-block;
}

.read-more{
  margin: 1px;
}

.homepage-board {
  max-width: 1000px;
}

.home-img {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: right;
}

.show-img {
  margin: 0 auto;
  height: 200px;
  width: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-img {
  margin: 0 auto;
  height: 50px;
  width: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.tile.is-parent{
   background-color: red;
   margin: 5px;
   padding: 15px;
}

div.tile.is-ancestor.top{
  height: 25vh;
  // background-color: red;
}

div.tile.is-ancestor.bottom{
  height: 75vh;
  background-color: blue;
}
